.genres {
    overflow-x: auto;
    display: flex;
    gap: 5px;
    .genre {
        overflow-x: auto;
        background-color: var(--pink);
        padding: 3px 5px;
        font-size: 12px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
    }
}